<%- include("./header.ejs") %>
    <%- include("./sidebar.ejs") %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">


                    <div class="row mb-2 mt-2">
                        <h1>Admin Dashboard</h1>
                    

                    <button type="button" class="btn btn-info mt-3" style="float: left" data-toggle="modal"
                        data-target="#studentinsert">
                        Add Student
                    </button>
                </div><!-- /.row -->
                    

                    <!-- <table-start> -->
                        <div class="container mt-2">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th colspan="6" class="bg-dark text-white">Student data</th>
                                    </tr>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Roll no.</th>
                                        <th>Course</th>
                                        <th>Image</th>
                                        <th>Action</th>
    
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <% d.forEach((item)=>{%> 
                                        <tr>
                                            <td>
                                               <%= item._id%>
                                            </td>
                                            <td>
                                                <%= item.name%>
                                            </td>
                                            <td>
                                                <%= item.rollnumber%>
                                            </td>
                                            <td>
                                                <%= item.course%>
                                            </td>
                                            <td>
                                                <img src="<%= item.image.url %>" width="40" alt="" >
                                            </td>
                                            <td >
                                                <a href="/student/view/<%= item._id %>"style="font-size: 20px;"><i class="fa-solid fa-eye"></i></a>
                                                <a href="/student/edit/<%= item._id %>"style="font-size: 20px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a href="/student/delete/<%= item._id %>"style="font-size: 20px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    <%}) %>
                                </tbody>
    
                            </table>
                        </div>
                    <!-- </table-end> -->

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        </div>
        <!-- /.content-wrapper -->


        <!-- Model -->
        <div class="modal fade" id="studentinsert">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Student</h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/studentdetailinsert" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" class="form-control" placeholder="Enter full name" name="n"
                                 required />
                        </div>
                        <div class="form-group">
                            <label for="rollnumber">Roll NO:</label>
                            <input type="text" class="form-control" placeholder="Enter roll number" name="r"
                                 required />
                        </div>
                        <div class="form-group">
                            <label for="fathername">Father Name</label>
                            <input type="text" class="form-control" placeholder="" name="f"
                                 required />
                        </div>
                        <div class="form-group">
                            <label for="dob">DOB</label>
                            <input type="date" class="form-control" placeholder="Date-of-birth" name="dob"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email Id:</label>
                            <input type="email" class="form-control" placeholder="" name="e"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select class="form-control"  name="c" required>
                                <option value="" >Select value</option>
                                <option >Mba</option>
                                <option >Mca</option>
                                <option >B-tech</option>
                                <option >B-com</option>
                                <option >Ba</option>
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" placeholder="Address" name="a"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="Mobile">Mobile No:</label>
                            <input type="text" class="form-control"  name="m"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="formFile">Image</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="p"
                                 required />
                        </div>
                        <div class="form-group">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="cp"
                                 required />
                        </div>

                        <center>
                            <button class="btn btn-primary mt-3" type="submit">
                                Submit
                            </button>
                        </center>
                    </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>


        <%- include("./footer.ejs") %>


         