<div class="container mt-2">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th colspan="6" class="bg-dark text-white">Student data</th>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Course</th>
                                    <th>Image</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                <% d.forEach((item)=>{%>


                                    <tr>
                                        <td>
                                            <%= item._id%>
                                        </td>
                                        <td>
                                            <%= item.name%>
                                        </td>
                                        <td>
                                            <%= item.email%>
                                        </td>
                                        <td>
                                            <%= item.course%>
                                        </td>
                                        <td><img src="<%= item.image.url %>" width="40%" alt=""></td>
                                        <td>
                                            <a href="/student/view/<%= item._id%>" class="btn btn-info">view</a>
                                            <a href="/student/edit/<%= item._id%>" class="btn btn-primary">edit</a>
                                            <a href="/student/delete/<%= item._id%>" class="btn btn-danger">delete</a>
                                        </td>
                                    </tr>
                                    <%}) %>
                            </tbody>

                        </table>
                    </div>